<template>
  <div class="outer-container">
    <span class="disclaimer">TodoApp by Sebastian & Ricardo  |  © 2020</span>
  </div>
</template>

<script>
export default {
  name: 'disclaimer',
  props: {
  },
};
</script>

<style scoped>
  .outer-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3vh 0;
  }
  .outer-container > .disclaimer {
    width: 100%;
    font-size: 1rem;
  }
</style>
