<template>

    <div class="main-editor">
        <div>
            <input ref="todoTitle" placeholder="What do you have to do?">
            <textarea ref="todoContent" rows="10" placeholder="What is your to do about?" />
        </div>

        <div class="btn-container">
            <button class="btn-save" @click="addTodo()">
                Add To-Do
            </button>
            <button class="btn-clear" @click="clearEditor()">
                Clear All
            </button>
        </div>
    </div>

</template>

<script>
// TODO: uncomment all store code comments
// import store from '../store';

export default {
    name: 'editor',
    methods: {
        addTodo() {
            const todo = {
                title: this.$refs.todoTitle.value.trim(),
                content: this.$refs.todoContent.value.trim(),
            }
            if (!todo.title) {
                throw new Error('title required')
            }
            if (!todo.content) {
                todo.content = 'No content available'
            }
            // this.$store.dispatch('addTodo', todo);
        },
        clearEditor() {
            this.$refs.todoTitle.value = ''
            this.$refs.todoContent.value = ''
        },
    },
}
</script>

<style scoped>
.main-editor {
  padding: 3vh 0;
  margin: auto;
  font-size: 3rem;
  width: 35rem;
}
input, textarea {
  width: 33rem;
  border-radius: 5px;
  background-color: #f5fffa;
  color: #006666;
  border-radius: 0px;
  padding: 1rem;
}
input {
  height: 1rem;
}
.btn-container {
  padding: 1vh 0;
}
button {
  font-size: 1rem;
  text-align: center;
  height: 2rem;
  width: auto;
  margin: 0 1rem;
  border-radius: 5px;
}
button > .btn-save {
  float: left;
}
.btn-save:active {
  background-color: #cbffc0;
}
button > .btn-clear {
  float: right;
}
.btn-clear:active {
  background-color: #f04747;
}
</style>
