<template>
    <div class="main">
        <TodoItem v-for="todo in todos"
            :key="todo.id"
            :title="todo.title"
            :content="todo.content"
            :status="false"
            :view-content="false" />
    </div>
</template>

<script>
// TODO: uncomment all store code comments
// import store from '../store';
import TodoItem from './todo-item.vue'

export default {
    name: 'todos',
    components: {
        TodoItem,
    },
    data() {
        return {
            // TODO: take list from Vuex.store
            // const list = store.todos;
            todos: [
                {
                    id: 1,
                    title: 'title 1',
                    content: 'content 1',
                    done: false,
                },
                {
                    id: 2,
                    title: 'title 2',
                    content: 'content 2',
                    done: false,
                },
            ],
        }
    },
}
</script>

<style scoped>
.main {
  padding: 5vh 0 0 3vw;
  margin: auto;
  font-size: 3rem;
  width: 35rem;
}
</style>
