<template>
    <div class="todo-item">
        <div class="todo-item-reduced-info">
            <button :class="{ completedTodo : done }" @click="toggleContent()"> {{ title }} </button>
            <input id="checkbox" v-model="done"
                type="checkbox"
                @change="changeDone()">
        </div>
        <p v-if="viewContent" :class="{ completedTodo : done }"> {{ content }} </p>
    </div>
</template>

<script>
export default {
    name: 'todo-item',
    props: {
        title: String,
        content: String,
        done: Boolean,
        viewContent: Boolean,
        checked: Boolean,
    },
    methods: {
        toggleContent() {
            this.viewContent = !this.viewContent
        },
        changeDone() {
            // TODO: trigger action in store.js to change value of status in store.js and make an API
            // call to backend, changing the done property (@change= in input tag)
            // this.$store.dispatch('changeDone', status)
        },
    },
}
</script>

<style scoped>
  /* li {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 0;
  } */
  .completedTodo {
    text-decoration: line-through;
  }
  .todo-item {
    margin-bottom: 1rem;
  }
  .todo-item-reduced-info {
    display: flex;
  }
  .todo-item-reduced-info > button {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    padding: 0;
  }
  p {
    margin: 0.5rem 0 0;
    text-align: left;
    font-size: 0.8rem;
  }
</style>
