<template>
    <div>
        <h1>
            Welcome!
        </h1>
        <p>
            To write a new to-do, go to our "Editor".
        </p>
        <p>
            To view or edit your current to-dos, go to "To-Do's".
        </p>
    </div>
</template>

<script>
export default {
  name: 'welcome',
};
</script>

<style scoped>
    h1 {
        margin-top: 20vh;
        font-size: 4rem;
    }
</style>
