<template>
    <div id="todoapp">

        <div class="nav-bar">
            <router-link to="/Editor">Editor</router-link>
            <router-link to="/Todos">To-Do's</router-link>
        </div>
        <router-view />

        <!-- TODO: show error message when error is thrown and display errorTitle + stack
      <div class="alert-msg">
        <span>
          {{ errorTitle }}
        </span>
        <p>
          {{ errorStack }}
        </p>
      </div> -->

        <Disclaimer />
    </div>
</template>

<script>
import Disclaimer from './components/disclaimer.vue'

export default {
    name: 'TodoApp',
    components: {
        Disclaimer,
    },
}
</script>

<style>
  body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #2c3e50;
    background-color: #e6f0fa;
    margin: 0 0;
  }
  .nav-bar {
    background-color: #bdd2fa;
    padding: 1rem 0;
  }
  .nav-bar > a {
    margin: 1rem;
    text-decoration: none;
  }
  .nav-bar > a:hover {
    color:#43b581;
  }
  .nav-bar > a:focus {
    color:#32a852;
  }
  .main-container {
    min-height: 30rem;
    height: auto;
    width: 50rem;
  }
</style>
